.theme-container.functionalDoc{
    ul 
    {
        list-style: none;
        counter-reset: list;
    }

    ul li {
        list-style-type: "R" counter(list) ". ";
        counter-increment: list;
    }

    ul li:before {
        content: "R" counter(list) ". ";

    }

    ul ul {
        list-style: none;
        counter-reset: sublist;
    }

    ul ul li {
        counter-increment: sublist;
    }

    ul ul li:before {
        content: "R" counter(list) "." counter(sublist) ". ";
    }
    ul ul ul {
        list-style: none;
        counter-reset: subsublist;
    }

    ul ul ul li {
        counter-increment: subsublist;
        margin-bottom: 5px;
    }

    ul ul ul li:before {
        content: "R" counter(list) "." counter(sublist) "." counter(subsublist) ". ";
    }

    p{
        display: inline;
    }    
}
