/* docs/.vuepress/styles/index.css */
.functional-doc ul {
    list-style: none;
    counter-reset: list;
}

.functional-doc ul li {
    list-style-type: "R" counter(list) ". ";
    counter-increment: list;
}

.functional-doc ul li:before {
    content: "R" counter(list) ". ";
}

.functional-doc ul ul {
    list-style: none;
    counter-reset: sublist;
}

.functional-doc ul ul li {
    counter-increment: sublist;
}

.functional-doc ul ul li:before {
    content: "R" counter(list) "." counter(sublist) ". ";
}

.functional-doc ul ul ul {
    list-style: none;
    counter-reset: subsublist;
}

.functional-doc ul ul ul li {
    counter-increment: subsublist;
    margin-bottom: 5px;
}

.functional-doc ul ul ul li:before {
    content: "R" counter(list) "." counter(sublist) "." counter(subsublist) ". ";
}

.functional-doc p {
    display: inline;
}