:root {
    /* Light Theme */
    --background: #F7F8F9;
    --primary-color: #F0984D;
    --secondary-color: #227D9B;
    --accent-color: #82B1FF;
    --error-color: #E63946;
    --info-color: #2196F3;
    --success-color: #1F845A;
    --warning-color: #E2B203;
    --card-color: #F1F2F4;
    --element-text-color: #FFFFFF;
    --heading-text-color: #091E42;
    --n-element-text-color: #8C9BAB;
    --chip-color: #FAF9F6;
    --highlighter-color: #DEE4EA;
    --table-row-color: #8C9BAB;
    --first-place-color: #E2B203;
    --second-place-color: #626F86;
    --third-place-color: #533F04;
    --kanban-icon-color: #161A1D;
    --second-row-color: #F7F8F9;
    --button-text-color: #F7F8F9;
    --faq-question-color: #E8E9EB;
}

body.dark-mode {
    /* Dark Theme */
    --background: #161A1D;
    --primary-color: #F38A3F;
    --secondary-color: #4C9FC3;
    --accent-color: #448AFF;
    --error-color: #E63946;
    --info-color: #64B5F6;
    --success-color: #81C784;
    --warning-color: #FFD54F;
    --card-color: #22272B;
    --element-text-color: #000000;
    --heading-text-color: #DCDFE4;
    --n-element-text-color: #8C9BAB;
    --highlighter-color: #DEE4EA;
    --table-row-color: #454f55;
    --first-place-color: #FFD700;
    --second-place-color: #C0C0C0;
    --third-place-color: #CD7F32;
    --kanban-icon-color: #DCDFE4;
    --second-row-color: #161A1D;
    --button-text-color: #F7F8F9;
    --faq-question-color: #2C3135;
}

