<p>Hey {{ name }} {{ surname }},</p>

<p>We're excited to have you on board! To get started, please confirm your email by clicking the link below:</p>

<p>
  <a href="{{ url }}" style="background-color: #4cafa7; color: white; padding: 14px 20px; text-align: center; text-decoration: none; display: inline-block;">Confirm Email</a>
</p>

<p>If you did not request this email, you can safely ignore it.</p>

<p>Best,</p>
<p>The WorkWise Team❤</p>

<img src="../images/WorkWiseLogo.png" alt="workwise-logo" style="width:100%; max-width:600px; height:auto; margin:auto; display:block;">

<footer style="background-color: #f2f2f2; padding: 10px 0; text-align: center;">
  <p>WorkWise Central ltd., 12 Abbey Road, Gauteng, Pretoria, 0002</p>
  <p>Email: info@workwise.com | Tel: 123-456-7890</p>
  <p>Connect with us:</p>
  <p>
    <a href="#">Facebook</a> |
    <a href="#">Twitter</a> |
    <a href="#">Instagram</a>
  </p>
</footer>

