<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Deletion</title>
</head>
<style>
  .blue-text {
    color: #227D9B;
  }
  .orange-text {
    color: #F0984D;
  }
</style>
<body>
<h1>Account Deletion Confirmation</h1>
<p>Hello {{name}},</p>
<p>Your account has been successfully deleted from our system. We're sad to see you leave.☹</p>
<p>If you did not initiate this action, please contact our support team immediately at <a href= "mailto: {{ourEmail}}">our email</a></p>
<p>Thank you for using <em><span class="orange-text">Work</span><span class="blue-text">Wise</span> Central!</em></p>
</body>
</html>
