<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Deletion</title>
</head>
<style>
  .blue-text {
    color: #227D9B;
  }
  .orange-text {
    color: #F0984D;
  }
</style>
<body>
<h1>Account Deletion Confirmation</h1>
<p>Hello {{name}},</p>
<p>Your account has been successfully deleted from our system. We're sad to see you leave.☹</p>
<p>If you did not initiate this action, please contact our support team immediately at <a href= "mailto: {{ourEmail}}">our email</a></p>
<p>Thank you for using <em><span class="orange-text">Work</span><span class="blue-text">Wise</span> Central!</em></p>
</body>
<footer style="background-color: #f2f2f2; padding: 10px 0; text-align: center;">
  <p>WorkWise Central ltd., 12 Abbey Road, Gauteng, Pretoria, 0002</p>
  <p>Email: info@workwise.com | Tel: 123-456-7890</p>
  <p>Connect with us:</p>
  <p>
    <a href="#">Facebook</a> |
    <a href="#">Twitter</a> |
    <a href="#">Instagram</a>
  </p>
</footer>
</html>
